ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
li:before {
  content: "•";
  margin-right: 10px;
}
li:hover {
  background-color: #eee;
}
li.completed {
  text-decoration: line-through;
}